nav {
        background: lightgreen;
        position: fixed;
        width: 100%;
        top: 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.nav-text {
        margin-left: 20px;
}

.container {
        top: 50px;
        position: fixed;
        display: flex;
        flex-direction: row;
}

.side-menu {
        flex: 1;
        background: cadetblue;
        color: whitesmoke;
}

.side-content {
        overflow-y: auto;
        height: calc(100vh - 50px);
}

.side-content a {
        display: block;
        line-height: 40px;
        color: whitesmoke;
        transition: 0.5s;
        padding-left: 10px;
        min-height: 0;
}

.side-content a:hover {
        background: rgb(39, 39, 39);
        padding-left: 20px;
}

.menu-bar {
        display: none;
        margin-right: 20px;
        cursor: pointer;
}

.side-menu .logout {
        display: none;
}

.tutorial-name {
        display: flex;
        justify-content: center;
        align-items: center;
}

.data {
        flex: 4;
}

.data-content {
        margin: 0;
        overflow-y: auto;
        height: calc(100vh - 50px);
        text-align: justify;
}

.data-actual-content {
        padding: 10px;
}

#menuu {
        display: none;
}

.logout-btn {
        margin-right: 20px;
}

@media (max-width: 800px) {
        .container, .side-menu .side-content, .data, .data-content, .side-menu .logout, .menu-bar {
                display: block;
        }

        .logout-btn, .side-menu {
                display: none;
        }
}

.show-menu {
        display: block !important;
        transition: 1s;
}