<input type="checkbox" id="menuu" (change)="isOpened = !isOpened">
<nav>
  <div class="nav-text"> Mule Developer Guide</div>
  <button class="logout-btn">Logout</button>
  <label for="menuu" class="menu-bar">
    <i class="fa fa-bars"></i>
  </label>
</nav>

<div class="container">
  <div class="side-menu" [class.show-menu]="isOpened">
    <div class="side-content">
      <div class="tutorial-name">
        <h2>Tutorial Name</h2>
      </div>
      <a href="#"> Tutorial 1</a>
      <a href="#"> Tutorial 2</a>
      <a href="#"> Tutorial 3</a>
      <a href="#"> Tutorial 4</a>
      <a href="#"> Tutorial 5</a>
      <a href="#"> Tutorial 6</a>
      <a href="#"> Tutorial 7</a>
      <a href="#"> Tutorial 8</a>
      <a href="#"> Tutorial 9</a>
      <a href="#"> Tutorial 10</a>
      <a href="#"> Tutorial 11</a>
      <a href="#"> Tutorial 12</a>
      <a href="#"> Tutorial 13</a>
      <a href="#"> Tutorial 14</a>
      <a href="#"> Tutorial 15</a>
      <a href="#"> Tutorial 16</a>
      <a href="#"> Tutorial 17</a>
      <a href="#"> Tutorial 18</a>
      <a href="#"> Tutorial 19</a>
      <a href="#"> Tutorial 20</a>
      <a href="#" class="logout">Logout</a>
    </div>
  </div>
  <div class="data">
    <div class="data-content">
      <div class="data-actual-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Mauris sit amet massa vitae tortor. Vel eros donec ac odio tempor. Mauris commodo quis imperdiet
          massa tincidunt nunc pulvinar. Euismod in pellentesque massa placerat. Pellentesque habitant morbi tristique
          senectus. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Nec feugiat in fermentum posuere
          urna nec. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Tempus quam pellentesque nec nam
          aliquam. Porttitor eget dolor morbi non arcu risus quis varius quam. Maecenas accumsan lacus vel facilisis
          volutpat est velit egestas dui. Duis ut diam quam nulla porttitor massa id neque aliquam.</p>

        <p>Curabitur gravida arcu ac tortor dignissim convallis aenean. Nunc pulvinar sapien et ligula ullamcorper
          malesuada proin libero. Feugiat scelerisque varius morbi enim nunc faucibus. Ultricies mi quis hendrerit
          dolor. Ultricies tristique nulla aliquet enim tortor at. Quis commodo odio aenean sed. Varius duis at
          consectetur lorem. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Non tellus orci ac
          auctor augue. Sed tempus urna et pharetra pharetra. Orci nulla pellentesque dignissim enim sit. Sollicitudin
          tempor id eu nisl nunc mi ipsum faucibus vitae. Magna etiam tempor orci eu lobortis elementum nibh. Gravida
          cum sociis natoque penatibus. Viverra mauris in aliquam sem fringilla ut. Condimentum vitae sapien
          pellentesque habitant morbi tristique senectus. Dui nunc mattis enim ut.</p>

        <p>Et ultrices neque ornare aenean euismod. Tempus urna et pharetra pharetra massa massa ultricies mi quis.
          Ultrices tincidunt arcu non sodales neque sodales ut. Sit amet venenatis urna cursus eget nunc scelerisque.
          Velit laoreet id donec ultrices tincidunt arcu non. Tincidunt augue interdum velit euismod. Ultricies lacus
          sed turpis tincidunt id aliquet risus feugiat in. Condimentum vitae sapien pellentesque habitant morbi
          tristique. Vestibulum lectus mauris ultrices eros in cursus turpis. Habitant morbi tristique senectus et netus
          et malesuada fames. Morbi tristique senectus et netus et malesuada. Risus ultricies tristique nulla aliquet
          enim tortor at auctor urna. Sapien eget mi proin sed libero. Id porta nibh venenatis cras sed felis eget
          velit. Magna etiam tempor orci eu lobortis elementum. Enim eu turpis egestas pretium aenean pharetra magna.
          Faucibus pulvinar elementum integer enim neque volutpat ac. Phasellus egestas tellus rutrum tellus
          pellentesque eu tincidunt tortor aliquam. Facilisis mauris sit amet massa.</p>

        <p>Gravida arcu ac tortor dignissim convallis aenean. Auctor urna nunc id cursus metus. Amet mauris commodo quis
          imperdiet massa tincidunt. Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Odio
          pellentesque diam volutpat commodo sed egestas egestas fringilla. Egestas tellus rutrum tellus pellentesque eu
          tincidunt. Urna id volutpat lacus laoreet non curabitur gravida. Gravida dictum fusce ut placerat. Mi ipsum
          faucibus vitae aliquet nec ullamcorper. Volutpat blandit aliquam etiam erat velit scelerisque. Augue mauris
          augue neque gravida. Nec feugiat nisl pretium fusce. Quisque id diam vel quam elementum pulvinar etiam non
          quam. Amet consectetur adipiscing elit ut aliquam. Tempor orci dapibus ultrices in.</p>

        <p>Mauris commodo quis imperdiet massa. Eu augue ut lectus arcu bibendum at varius vel. Malesuada fames ac
          turpis egestas integer eget aliquet. Iaculis at erat pellentesque adipiscing. Adipiscing elit duis tristique
          sollicitudin nibh sit. Magnis dis parturient montes nascetur ridiculus mus mauris vitae. Leo duis ut diam quam
          nulla porttitor. Felis imperdiet proin fermentum leo vel orci porta. Nunc scelerisque viverra mauris in
          aliquam sem fringilla ut. Dignissim convallis aenean et tortor at. Leo integer malesuada nunc vel risus. Diam
          donec adipiscing tristique risus nec feugiat in fermentum posuere. Quam elementum pulvinar etiam non quam
          lacus suspendisse faucibus interdum. Tortor consequat id porta nibh venenatis cras sed felis eget.</p>

        <p>Cursus metus aliquam eleifend mi in nulla. Arcu ac tortor dignissim convallis aenean. Nec dui nunc mattis
          enim. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Ornare suspendisse sed nisi lacus.
          Quam elementum pulvinar etiam non quam. In massa tempor nec feugiat. Euismod in pellentesque massa placerat
          duis ultricies lacus sed. Donec adipiscing tristique risus nec feugiat in fermentum. Pellentesque elit
          ullamcorper dignissim cras tincidunt. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Ac
          feugiat sed lectus vestibulum mattis ullamcorper velit sed. Rutrum tellus pellentesque eu tincidunt tortor
          aliquam. Tristique senectus et netus et malesuada fames. Etiam sit amet nisl purus. Dictumst quisque sagittis
          purus sit amet volutpat consequat mauris nunc. In nulla posuere sollicitudin aliquam ultrices sagittis.</p>
      </div>
    </div>
  </div>
</div>